#navigation{
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid rgba(196, 55, 194, 0.229);
}
#navigation img{
    height: 20vh;
    width: 15vw;
    margin-left: 40%;
}
#navigation h1{
    margin-left: 10%;
    font-size: 35px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(228, 88, 219);
}
#containerText{
    display: flex;
    justify-content: center;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(228, 88, 219);
}

#containerImg{
    width: 30vw;
    height: 35vh;
    padding: 10px
}